.locationContainer {
    display: flex;
    justify-content: space-between;
}

.location__img {
    width: 16rem;
    height: 13rem;
    display: flex;
}

.location {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1em;
}

.location__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: .5em;
    padding: .5em;
    text-align: center;
}

p {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}