
.fishList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fish__image {
    width: 16rem;
    height: 13rem;
}

.dialogDetails {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: solid black 2px;
    padding-right: -10rem;
} 


.fish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
}

.fish__name {
    display: flex;
    font-size: 2em;
    justify-content: center;
}

