@import "nav.css";
@import "fish.css";
@import "tips.css";



.header {
    width: 100%;
    background-image: url(https://www.calacademy.org/sites/default/files/styles/manual_crop_standard_960x540/public/assets/images/Education_Images/TYE_Images/sensationalseaweed_kelp_clintonbauder1200x900.jpg?itok=jKm9CYif&c=8a6ecfbbf4c00a4fb5bdf63f2bd78cdd);

}

.container {
    display: flex;
    background-color: rgb(229, 244, 248);
    flex-direction: row;
}

.mainBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
