@import "nav.css";
@import "fish.css";
@import "tips.css";



.header {
    background-color: lightgray;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
    justify-content: flex-end;
}


