@import "nav.css";
@import "fish.css";
@import "tips.css";



.header {
    background-color: lightgray;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    justify-content: space-between;
    flex-direction: row;
}


